## Data Ingetion

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\VAISHNAVI RAYPHALE\Downloads\50_Startups.csv")

## Basic Checks

In [4]:
df.head()  # top 5 rows

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [5]:
df.columns  # Checking all columns name

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [6]:
df.index # checking index

RangeIndex(start=0, stop=50, step=1)

In [7]:
df.isnull().sum()  # checking null values

RND       0
ADMIN     0
MKT       0
STATE     0
PROFIT    0
dtype: int64